mixin navigation 
  nav.d-flex.justify-content-between.container-fluid
    // mobile navigation
    .mobile-menu
      div(class=current === 'home' ? 'active' : '').menu-item 
        a(href='/')
          i.fas.fa-home
      .menu-item#slideMenuIcon
        i.fas.fa-bars

    ul.menu.d-flex
      li(class=current === 'home' ? 'active' : '').menu-item
        a(href='/')
          i.fas.fa-home
      li(class=current === 'algorithm' ? 'active' : '').menu-item
        | Thuật toán
        // Sub menu for algorithm
        ul.sub-menu.flex-col
          a(href='/algorithm/sort/visualizer')
            li.sub-menu-item Sắp xếp trực quan
          a(href='/algorithm/sort/realtime')
            li.sub-menu-item Sắp xếp thời gian thực
      li(class=current === '' ? 'data-structure' : '' ).menu-item CTDL&amp;GT
      li(class=current === '' ? 'js' : '' ).menu-item Javascript
      li(class=current === '' ? 'tips' : '' ).menu-item 
        a(href="https://github.com/TuanNguyen2504/javascript-tips" target="_blank") JS Tips
      li(class=current === '' ? 'tips' : '' ).menu-item 
        a(href="https://github.com/TuanNguyen2504/vscode-tips" target="_blank") VSCode Tips

    .flex-center--ver
      // change-theme
      .m-r-6
        i#themeBtn.fas
      
      // search
      .search-bar.flex-center--ver
        #searchBar.search-bar-control(style='display: none')
          input(autofocus='' maxlength='40' type='text' placeholder='Nhập từ khoá ...')
          button#search.btn
            i.fas.fa-search
        #openSearchIcon.search-bar-icon.flex-center--ver.h-100
          i.fas.fa-search
        // close search icon
        #closeSearchIcon.search-bar-icon.flex-center--ver.h-100(style='display: none')
          i.fas.fa-times
