//- header block
doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='icon' href='/assets/icons/favicon.png')
  title #{title || 'Algorithms With Dyno'}
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;1,300;1,400&display=swap" rel="stylesheet")
  link(rel='stylesheet' type="text/css" href='/vendors/font-awesome/css/all.min.css' )
  link(rel='stylesheet' type='text/css' href='/styles/css/atomic.css')
  link(rel='stylesheet' type='text/css' href='/styles/css/menu.css')
  link(rel='stylesheet' type='text/css' href='/styles/css/reset.css')
  block style
body

  //- navigation
  nav.d-flex.justify-content-between.container-fluid
    // mobile navigation
    .mobile-menu
      div(class=current === 'home' ? 'active' : '').menu-item 
        a(href='/')
          i.fas.fa-home
      .menu-item#slideMenuIcon
        i.fal.fa-bars

    ul.menu.d-flex
      li(class=current === 'home' ? 'active' : '').menu-item
        a(href='/')
          i.fas.fa-home
      li(class=current === 'algorithm' ? 'active' : '').menu-item
        | Thuật toán
        // Sub menu for algorithm
        ul.sub-menu.flex-col
          a(href='/algorithm/sort/visualizer')
            li.sub-menu-item Sắp xếp trực quan
          a(href='/algorithm/sort/realtime')
            li.sub-menu-item Sắp xếp thời gian thực
      li(class=current === '' ? 'data-structure' : '' ).menu-item CTDL&amp;GT
      li(class=current === '' ? 'js' : '' ).menu-item Javascript
      li(class=current === '' ? 'tips' : '' ).menu-item Tips

    .flex-center--ver
      // change-theme
      .m-r-6
        i#themeBtn.fal
      
      // search
      .search-bar.flex-center--ver
        #searchBar.search-bar-control(style='display: none')
          input(autofocus='' maxlength='40' type='text' placeholder='Nhập từ khoá ...')
          button#search.btn
            i.fal.fa-search
        #openSearchIcon.search-bar-icon.flex-center--ver.h-100
          i.fal.fa-search
        // close search icon
        #closeSearchIcon.search-bar-icon.flex-center--ver.h-100(style='display: none')
          i.fal.fa-times

  //- content
  block content

  //- mixin slide menu
  include ../mixin/slide-menu.pug
  +slideMenu

  //- script
  script(src='/vendors/jquery/jquery.min.js')
  script(src="/scripts/main.js") 
  script(src='/scripts/menu.js')
  block script


